@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

body,
input,
button {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px
}


.top-header {
    padding: 20px 10px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    justify-content: start;
    background-color: #063970;
    color: #166ecc;
}

.top-header-title {
    color: #ffff;
}

main {
    max-width: 500px;
    width: 80%;
    margin: 30px auto;
    padding: 16px;
}

.input-data {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 5px solid #063970;
    border-radius: 10px;
    background: #fff;
}

.input-data>h3 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.input-data>form>.input {
    margin: 8px 0;
}

.input-data>form>button {
    background-color: #000000;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.input-data>form>#edit,
.input-data>form>#submit {
    background: #063970;
    color: #fff;
    padding: 8px;
    width: 75%;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    margin: auto;
}

.input-data>form>#edit:active,
.input-data>form>#submit:active {
    background-color: #063970;
}

.input-data>form>#edit {
    display: none;
}

.input-data>form>.input>input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 65px;
    margin: 10px 0;
}

.input-data>form>.input>label {
    color: #000000;
    font-weight: bold;
}

.input-data>form>.input-line {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input-data>form>.input-line>label {
    color: #000000;
    font-weight: bold;
    margin-right: 10px;
}

.rak {
    margin: 35px 0 0 0;
    border: 5px solid #063970;
    padding: 24px;
    border-radius: 15px;
    background: #fff;
}

.rak>h2 {
    color: #063970;
    margin-bottom: 20px;
    text-align: center;
}

.rak>.daftarBuku>.book_item {
    padding: 16px;
    border: 2px solid #212020;
    border-radius: 15px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rak.daftarBuku>.book_item>.info>h3,
p {
    margin: 8px 0;
}

.rak>.daftarBuku>.book_item>.action {
    display: flex;
    align-items: center;
}

.rak>.daftarBuku>.book_item>.action>button {
    border: 0;
    padding: 5px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.checklist {
    background: url('../assets/img/check.gif');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.checklist:hover {
    background: url('../assets/img/check.svg');
    background-size: contain;
}

.edit {
    background: url('../assets/img/edits.gif');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.edit:hover {
    background: url('../assets/img/edits.svg');
    background-size: contain;
    width: 20px;
}

.trash {
    background: url('../assets/img/trash.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash:hover {
    background: url('../assets/img/trash.gif');
    background-size: contain;
}

.undo {
    background: url('../assets/img/restart.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo:hover {
    background: url('../assets/img/restart.gif');
    background-size: contain;
}

.checklist:focus,
.trash {
    outline: none;
}